
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
	background-image: linear-gradient(to right,#000,#020615,#030A22,#000);
}


.banner {
	background-image: url(img/internships-banner.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height:520px;
	position: relative;
	color:#eee;
}
.overlay-fixed {
	background-color:#0C2268;
	opacity: 0.5;
	position:absolute;
	top:0;
	left:0;
}
.banner a{
	font-weight:1000;
	font-size:55px;
	font-family: 'Courgette', cursive;
	color:#dcdcdc;
	margin-left:30px;
}
.banner a:hover {
	color:#ccc;
}
.banner h1 {
    text-align: center;
    padding:100px;
    font-size:50px;
    font-weight:1000;
    text-transform: uppercase;
    font-family: sans-serif;

}
.navbar a {
	font-weight:bolder;
	font-size:20px;
	margin:0 10px;
	text-transform: uppercase;
}
.navbar span {
	border:2px solid white;
	padding:5px;
	border-radius:7px;
}

.title {
	margin:auto;
	background-color:#0E2152;
	padding:30px;
	color:#dcdcdc;
	border-radius:10px;
}
.title h2 {
	font-weight: bolder;
	text-transform: uppercase;
	font-family:sans-serif;
	font-size:27px;
	border-bottom:2px solid #dcdcdc;
}
.title p {
	color:#aaa;
	font-size:17px;
	font-family: Arial;
	padding-top:10px;
}

.footer {
	background-color:#09090A;
	padding:30px 0;
}

.footer h3 {
	font-weight: bolder;
	text-transform: uppercase;
	color:#aaa;
}

.footer p {
	color:#fff;
}
.footer a{
	color:#dcdcdc;
}
.footer a:hover {
	color:#aaa;

}

@media (max-width:768px) { 
 .banner h1 {
 	font-size:35px;
 	padding:65px 0;
 }
 .banner a {
 	font-size:45px;
 }
 .navbar button {
 	margin:auto;
 }
 .navbar a {
 	text-align: center;
 }
 .title {
 	margin:10px 0;
 	border-radius:0;
 }
 
 .footer h3 {
  font-weight: bolder;
  text-transform: uppercase;
  color:#aaa;
  font-size:18px;
}
.footer img {
  width:250px;
}

}