




                                                 /*HOME PAGE*/


@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');



body {
	background-image: linear-gradient(to right,#000,#020615,#030A22,#000);
}
/*Top and Banner*/


.top button {
	text-transform: uppercase;
	font-weight:bolder;
	font-size:14px;
}
.banner-text h1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.banner {
	background-image: url(../img/banner.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center center;
  background-attachment:fixed;
	
}

.banner-text {
	padding:80px;
	color:#dcdcdc;
}
.banner-text p {
	font-weight: 600;
	text-transform: uppercase;
	font-size:14px;
}
.banner-text h1 {
	text-transform: uppercase;
	font-weight:1000;
	font-size:40px;
	font-family:Arial;
}
.banner-text button {
	text-transform: uppercase;
	font-weight: bolder;
	font-size:14px;
}
.banner-text h5 {
	text-transform: uppercase;
	font-size:17px;
	font-weight:1000;

}
iframe {
  box-shadow:10px 10px 10px #0A1640;
  border-radius:30px;
}
.banner-text a {
 text-decoration:none;
}
.navbar button {
 margin:auto;
}
.navbar a{
 text-align: center;
}
.navbar a,li{
  font-size:18px;
  color:#dcdcdc;
  text-transform: uppercase;
  font-weight:600;
}
.card h5 {
  font-weight:1000;
  font-size:22px;
}
.carousel-inner img {
	opacity:0.6;
}
.carousel-inner h5 {
	font-size:40px;
	font-weight: bolder;
	text-transform: uppercase;
	font-family:Arial;
}
.bfr-text span{
   font-size:37px;
   font-weight:1000;
   text-transform: uppercase;
   color:#dcdcdc;
   border-bottom:3px solid #10256A;
}
.bfr-text p {
	color:#dcdcdc;
}
.icon h2 {
  font-weight: bolder;
  text-transform: uppercase;
}

.icon {
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin:auto;
	padding:50px;
	color:#dcdcdc;
	opacity:0.8;
	border-radius:10px;
}
.icon button {
	text-transform: uppercase;
	font-weight: bolder;

}
.footer {
    background-color:#000;
}
.footer h2 {
	font-size:66px;
	font-family: 'Courgette', cursive;
	font-weight: 1000;
}
.ftr-contact {
	border:2px solid #dcdcdc;
	padding:20px 0;
	color:#dcdcdc;
  
}










/*Small devices (landscape phones, less than 768px)*/

@media all and (max-width: 800px) { 
	.teams {
		display:flex;
		flex-flow:row;
	}
	.banner {
        background-image:url(../img/banner1.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        background-position:center;
        text-align: center;
        background-attachment: scroll;
        width:102%;
        margin:0 auto;

	}
   .banner-text h5 {
   	   display: flex;
   	   flex-flow:column wrap;
   }
	 .banner-text h1 {
		 	font-size: 35px;
   }
    }
    .banner-text p {
		 	font-size:12px;
    }
	.banner-text button {
		font-weight: 1000;
		font-size:15px;
	}

   .top h2{
   	font-size: 35px;
   	text-align: center;
   	margin:0;
   }
   .card {
   	display: flex;
   	flex-flow:column;
   	margin:20px auto;
   }
   .bfr-text span {
    font-size:28px;
   }
   .icon h2 {
    font-size:26px;
   }
   .icon button {
    font-size:15px;
   }
  
   .footer {
  background-color:#09090A;
  color:#dcdcdc;
  font-family: sans-serif;
}

.footer h3 {
  font-weight: bolder;
  text-transform: uppercase;
  color:#aaa;
  font-size:18px;
}
.footer img {
  width:250px;
}
.footer p {
  color:#fff;
}
.footer a{
  color:#dcdcdc;
}
.footer a:hover {
  color:#aaa;

}


@media (max-width:1100px) { 
	.card {
		margin:20px auto;
	}
	.icon i {
        font-size:65px;
	}
}

@media (max-width:560px) {
   .banner {
   	background-image:url(../img/banner1.jpg);
   	    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     border-width:0px;
     background-size: cover; 
     background-repeat: no-repeat;
     text-align: center;
     width: 100%;
     height: 100%;
     background-attachment:scroll;
   }
}


                                                         /*ABOUT PAGE*/